/* Common Styles */
*{
    margin: 0;
    padding: 0;
}
header, main {
    width: 85%;
    margin: 30px auto;
}

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .color-text {
    color: rgb(233, 90, 8);
  }

  p {
    color: rgba(0, 0, 0, 0.5);
  }

/* Header Styles */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-tiems {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}

li.defult a {
    color: black;
}

li a:hover,
li a:active,
li a:focus {
    color: black;
}

/* Banner Styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 65px;
}

/* Plant Styles */
.plant-container {
    text-align: center;
    margin-top: 120px;
}
.plant-text h1 {
    font-size: 50px;
}
/* Plant Card Styles */
.plant-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    background: rgb(233, 90, 8);
    border: 0;
    padding: 26px 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.plant-lover-container {
    display: flex;
    align-items: center;
    margin-top: 210px;
}

.plant-lover-img-container {
    position: relative;
    background-image: url("assets/flower-store.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    width: 50%;
    height: 600px;
}

.trusted-logo {
    position: absolute;
    top: -150px;
    right: 0;

}

.trusted-logo img {
    width: 286px;
    animation: rotate-animation 10s infinite linear;
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.plant-lover-text {
    width: 50%;
}

.plant-lover-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.plant-lover-text ul li {
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

/* Deal Section Styles */
.latest-deals-container {
    margin-bottom: 120px;
}

.deal-texts {
    text-align: center;
    margin-top: 140px;
}

.deal-title {
    font-size: 50px;
}

.deal-text {
    padding: 0 250px;
    margin: 0 250px;
}

.deal-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

.left {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.offer-img-bloom {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 120px;
    border-radius: 10px;
    background-position: center;
    color: white;
}

.offer-img-ana {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 130px;
    border-radius: 10px;
    background-position: center;
    color: white;
    
}

.right {
    width: 60%;
    text-align: center;
}

.offer-img-zabo {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 110px;
    border-radius: 10px;
    background-position: center;
    color: white;

}


h4 {
    text-decoration: underline;
}

/* Subscription Styles */
.subscription-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
}

.subscription-title {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-field {
    display: flex;
    background: white;
    overflow: hidden;
    width: 50%;
}

#email {
    flex: 1;
    padding: 8px 20px;
    border: none;
}

.subscribe-btn {
    background: rgb(233, 90, 8);
    color: white;
    border: none;
    padding: 26px 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Media Qurey */
@media  screen and (max-width: 768px) {
    /* Navigation bar  */
    .item {
        display: none;
    }
    /* Hero Section  */
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .hero-figure {
        max-width: auto;
        scale: 0.7;
    }
    .hero-text {
        width: 100%;
    }

    /* Plant Section */
    .plant-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* Plant Lover Section */
    .plant-lover-container {
        display: flex;
        flex-direction: column;
    }
    .plant-lover-img-container, .plant-lover-text {
        width: 100%;
    }

    .trusted-logo img {
        display: none;
    }

    .plant-lover-title {
        font-size: 24px;
        margin-top: 20px;
    }

    /* Latest Deals */
    .deal-text{
        padding: 0;
        margin: 0;
    }
    .left, .right {
        width: 100%;
        display: none;
    }

    /* Subscription  */
    .subscription-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .input-field {
        flex-direction: column;
        border-radius: 8px;
    }

    #email {
        border-radius: 8px 8px 0 0;
    }

    .subscribe-btn {
        border-radius: 0 0 8px 8px;
        padding: 1rem;
    }
}
