/* Common Styles */
*{
    margin: 0;
    padding: 0;
}
header, main {
    width: 85%;
    margin: 30px auto;
}

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .color-text {
    color: rgb(233, 90, 8);
  }

  p {
    color: rgba(0, 0, 0, 0.5);
  }

/* Header Styles */

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-tiems {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}

li.defult a {
    color: black;
}

li a:hover,
li a:active,
li a:focus {
    color: black;
}

/* Banner Styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 65px;
}

/* Plant Styles */
.plant-container {
    text-align: center;
    margin-top: 120px;
}
.plant-text h1 {
    font-size: 50px;
}
/* Plant Card Styles */
.plant-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    background: rgb(233, 90, 8);
    border: 0;
    padding: 26px 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


/* Media Qurey */
@media  screen and (max-width: 768px) {
    /* Navigation bar  */
    .item {
        display: none;
    }
    /* Hero Section  */
    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .hero-text {
        width: 100%;
    }
}
