*{
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    margin: 30px auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-tiems {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}

li.defult a {
    color: black;
}

li a:hover,
li a:active,
li a:focus {
    color: black;
}





/* Media Qurey */
@media  screen and (max-width: 768px) {
    .item {
        display: none;
    }
}